@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;700&family=The+Nautigal:wght@700&display=swap');

/* font-family: 'The Nautigal', cursive; 
font-family: 'Akshar', sans-serif;
*/

:root {
    --main-color: #CEA092;
    --secondary-color: #2A0200;
    --light-color: #FAEBE5;
    --aux-color: #A86E5E;
}

.App {
    text-align: center;
    font-family: 'Akshar', sans-serif;
    font-weight: 400;
}

input:focus {
    outline: none !important;
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--secondary-color);
}